<div class="flex items-center space-x-4">
  <!-- Username -->
  <!-- Show cart icon for 'Shopper' -->
  <ng-container *ngIf="user.role === 'Shopper'">
    <a
      [routerLink]="'/shopping-cart'"
      class="text-black text-sm sm:text-base font-semibold underline"
    >
      <img src="/icons/cart.svg" alt="cart icon" class="w-6 h-6 inline-block" />
    </a>
  </ng-container>

  <!-- Show link for 'Employee' -->
  <ng-container *ngIf="user.role === 'Employee'">
    <a
      [routerLink]="'/home'"
      class="text-black text-sm sm:text-base font-semibold underline"
    >
      Employee Portal
    </a>
  </ng-container>

  <!-- Show link for 'Admin' -->
  <ng-container *ngIf="user.role === 'Admin'">
    <a
      [routerLink]="'/home'"
      class="text-black text-sm sm:text-base font-semibold underline"
    >
      Admin Portal
    </a>
  </ng-container>
  <a
    [routerLink]="'/logout'"
    class="text-sm sm:text-base text-red-500 hover:text-red-700"
  >
    Logout
  </a>
  <div class="flex flex-col items-center">
    <!-- User Icon -->
    <div>
      <img
        src="/assets/UserIcon.png"
        alt="User"
        class="w-5 h-5 sm:w-7 sm:h-7 rounded-full"
      />
    </div>

    <!-- Username -->
    <span class="text-sm sm:text-base font-semibold">{{ user.userName }}</span>
  </div>
</div>
