<app-form-wrapper [formGroup]="productForm" (onSubmit)="handleCreate($event)">
  <h3 class="font-bold mb-3 text-xl">Create Product</h3>
  <div class="mt-8 flex flex-col w-full gap-y-8">
    <app-text-field
      [name]="'title'"
      [label]="'Title'"
      [placeholder]="'Enter the product title'"
      [formGroup]="productForm"
      [control]="this.productForm.get('title')"
    />
    <app-text-field
      [name]="'price'"
      [label]="'Price'"
      [placeholder]="'Enter the product price'"
      [formGroup]="productForm"
      [control]="this.productForm.get('price')"
    />
    <app-text-field
      [name]="'category'"
      [label]="'Category'"
      [placeholder]="'Enter the product category'"
      [formGroup]="productForm"
      [control]="this.productForm.get('category')"
    />
    <app-text-field
      [name]="'description'"
      [label]="'Description'"
      [placeholder]="'Enter the product description'"
      [formGroup]="productForm"
      [control]="this.productForm.get('description')"
    />
    <app-text-field
      [name]="'image'"
      [label]="'Image'"
      [placeholder]="'Enter the product image'"
      [formGroup]="productForm"
      [control]="this.productForm.get('image')"
    />
    <app-text-field
      [name]="'inventory'"
      [label]="'Inventory'"
      [placeholder]="'Enter the product inventory'"
      [formGroup]="productForm"
      [control]="this.productForm.get('inventory')"
    />
    <app-primary-button value="Add" [disabled]="this.productForm.invalid" />
  </div>
</app-form-wrapper>
