<p class="mb-2 text-base opacity-70">Quantity</p>
<div class="flex justify-between border-2 border-slate-800 opacity-85 w-24 h-12 items-center">
    @if (disableDecrement) {
        <button (click)="decrease()" class="w-12 pb-8 text-4xl opacity-0" disabled>_</button>
    }@else {
        <button (click)="decrease()" class="w-12 pb-8 text-4xl opacity-80" >_</button>
    }
    <p>{{currentValue}}</p>
    @if (disableIncrement) {
        <button (click)="increase()" class="w-12 text-4xl opacity-0" disabled>+</button>
    }
    @else {
        <button (click)="increase()" class="w-12 text-4xl opacity-80 " >+</button>
    }
</div>

