<app-form-wrapper
  [formGroup]="recoverPasswordForm"
  (onSubmit)="handleRecoverPassword($event)"
>
  <span class="text-lg font-light">Welcome !</span>
  <h3 class="text-2xl font-medium mt-5">Forgot your password?</h3>
  <p class="text-base mt-2 font-normal">
    please enter the email you sed to log in and your recovery information.
  </p>
  <div class="mt-8 flex flex-col w-full gap-y-8">
    <app-email-field
      [name]="'email'"
      [label]="'Email'"
      [placeholder]="'Enter your email'"
      [formGroup]="recoverPasswordForm"
      [control]="this.recoverPasswordForm.get('email')"
    />
    <app-select-field
      [name]="'securityQuestion'"
      [label]="'Select your question'"
      [formGroup]="recoverPasswordForm"
      [options]="this.options"
      [control]="this.recoverPasswordForm.get('securityQuestion')"
    />
    <app-text-field
      [name]="'securityQuestionAnswer'"
      [label]="'Your answer'"
      [placeholder]="'Answer to your security question'"
      [formGroup]="recoverPasswordForm"
      [control]="this.recoverPasswordForm.get('recoverQuestionAnswer')"
    />
    <app-password-field
      [name]="'newPassword'"
      [label]="'New Password'"
      [placeholder]="'Enter your new password'"
      [formGroup]="recoverPasswordForm"
      [control]="this.recoverPasswordForm.get('newPassword')"
    />
    @if (isLoading) {
    <app-loader-button />
    } @else {
    <app-primary-button
      value="Reset"
      [disabled]="recoverPasswordForm.invalid"
    />
    }
    <span class="mt-5 mx-auto text-gray-400 text-base font-semibold">
      Don't have an account?
      <a routerLink="/signup" class="text-black text-base"> Register</a></span
    ><span class="mt-2 mx-auto text-gray-400 text-base font-semibold">
      <a routerLink="/login" class="text-black text-base">
        Back to login</a
      ></span
    >
  </div>
</app-form-wrapper>
