<div class="w-[90%] xl:w-[75%] m-auto py-14 flex flex-col gap-14">
  <h2 class="text-3xl font-bold">Products List</h2>
  @if (isLoading) {
  <div class="h-[65vh] w-full flex justify-center items-center">
    <app-loader />
  </div>
  } @else {
  <app-custom-table
    [rows]="rows"
    [items]="productsList"
    [edit]="true"
    [delete]="true"
    (optionClicked)="handleOptionClick($event)"
  />
  }
  <app-modal [isActive]="this.isModalActive">
    @if(this.selectedProduct && this.selectedProduct.type === "delete"){
    <div
      class="h-52 bg-white rounded-lg flex flex-col gap-4 justify-between items-center px-8 py-5"
    >
      <div class="w-full flex justify-end">
        <button (click)="closeModal()">X</button>
      </div>
      <p class="font-bold">Are you sure to delete this product?</p>
      <app-action-button
        value="Delete"
        [data]="this.selectedProduct.value"
        [type]="'delete'"
        (clicked)="deleteProduct($event)"
      />
    </div>
    } @else{
    <div class="m-auto w-[520px] flex items-end flex-col">
      <div class="flex justify-end bg-white rounded-md">
        <button (click)="closeModal()" class="py-3 px-6">X</button>
      </div>
      <app-product-form
        [productData]="selectedProduct?.value"
        [onFinish]="editProduct"
      />
    </div>
    }
  </app-modal>
</div>
