<nav class="bg-gray-100 text-black py-1 px-4 sm:px-6 md:px-8 max-h-16 flex justify-between items-center shadow-lg fixed w-full top-0 z-50">
  <div class="flex items-center space-x-6 p-6">
    <a [routerLink]='"/"' class="cursor-pointer flex items-center space-x-3">
      <img src="assets/Logo.png" alt="App Icon" class="w-12 h-12">
      <a [routerLink]='"/"' class="text-black text-base sm:text-base font-extrabold block sm:hidden lg:block">Tech Trend Emporium</a>
    </a>
    <!-- Desktop Menu (hidden on small screens) -->
    <a [routerLink]='"/"' class="text-black text-sm sm:text-base font-semibold">Shoplist</a>
    <a [routerLink]='"/"' class="text-black text-sm sm:text-base font-semibold">Wishlist</a>
  </div>
  

  <!-- Hamburger menu button (visible on small screens) -->
  <div class="sm:hidden">
    <button (click)="toggleDropdown()" class="text-black focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>


  <!-- Search Bar -->
  <div class="flex-grow max-w-4xl  hidden sm:block p-6 md:p-12">
    <input
      type="text"
      placeholder="Search..."
      class="w-full border border-gray-300 rounded-sm py-2 px-4 text-sm sm:text-base focus:outline-none focus:border-gray-950"
    >
  </div>

  <!-- User Section (hidden on small screens) -->
  <div class="hidden sm:block">
    <ng-container *ngIf="isLoggedIn === true; else log_in_anchor">
      <app-navbar-user-section></app-navbar-user-section>
    </ng-container>
    <ng-template #log_in_anchor>
      <a [routerLink]='"/login"' class="text-black text-sm font-semibold">Log-in</a>
    </ng-template>
  </div>

  <!-- Dropdown Menu (visible on small screens when toggled) -->
  <div *ngIf="isDropdownOpen" 
       class="absolute top-full left-0 right-0 bg-gray-100 z-50 sm:hidden flex flex-col items-center space-y-3 py-3 shadow-lg">
    <a [routerLink]='"/"' class="text-black text-sm font-semibold">Shoplist</a>
    <a [routerLink]='"/"' class="text-black text-sm font-semibold">Wishlist</a>
    <input
      type="text"
      placeholder="Search..."
      class="w-11/12 border border-gray-300 rounded-sm py-2 px-4 text-sm focus:outline-none focus:border-gray-950"
    >
    <ng-container *ngIf="isLoggedIn === true; else log_in_anchor">
      <app-navbar-user-section></app-navbar-user-section>
    </ng-container>
    <ng-template #log_in_anchor>
      <a [routerLink]='"/login"' class="text-black text-sm font-semibold">Log-in</a>
    </ng-template>
  </div>
</nav>