<footer>
    <div class="flex justify-center mb-10">
        <div class="md:flex md:justify-evenly w-[77rem] border-t border-black md:mt-28 mt-16 pt-9">
            <div class="mb-4 md:mr-10 ml-1">
                <h1 class="font-bold md:text-3xl text-xl text-center mb-3 md:text-left">Sign up for our newsletter</h1>
                <p class="md:text-sm lg:text-base text-center md:text-left">Be the first to know about special offers, news, and updates.</p>
            </div>
            <div class="flex justify-evenly md:mr-8">
                @for (item of footerInformation; track $index) {
                    
                    <div class=" md:mr-14">
                        <h2 class="font-bold mb-5 text-center md:text-left text-sm md:text-base ">{{item[0]}}</h2>
                        <p class="text-black opacity-60 text-center md:text-left">{{item[1]}}</p>
                        <p class="text-black opacity-60 text-center md:text-left">{{item[1]}}</p>
                        <p class="text-black opacity-60 text-center md:text-left">{{item[1]}}</p>
                        <p class="text-black opacity-60 text-center md:text-left">{{item[1]}}</p>
                        <p class="text-black opacity-60 text-center md:text-left">{{item[1]}}</p>
                    </div>  
            }
            </div>

        </div>
    </div>
    
    <p class="font-bold text-center text-white bg-black md:mt-24 mt-10 h-10 pt-2 md:text-base text-xs">COPYRIGHTS SITE.COM. ALL RIGHTS RESERVED</p>

</footer>
