<h1 class="text-4xl font-bold text-center mb-4 mt-24">Categories</h1>
<p class="text-center mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to <br> eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<app-white-button value="Show All" componentUrl="/" class="flex justify-center mb-8"></app-white-button>

@if (isLoading) {
    <div class="animate-pulse flex justify-center space-x-4">
        @for (item of [0,1,2]; track $index) {
            <div class="grid grid-rows-5 place-items-center h-20 w-20 mb-6 cursor-pointer  border border-gray-500 smallest:w-28 smallest:h-24 sm:w-40 sm:h-36 md:w-56 md:h-44 lg:w-80 lg:h-72 ">
                <div class ="w-12 h-3 mt-6 mb-6 bg-slate-200 rounded-full smallest:w-20  sm:w-32  md:w-48  lg:w-64  "></div>
                <div class ="w-12 h-3 mt-6 mb-6 bg-slate-200 rounded-full smallest:w-20  sm:w-32 md:w-48  lg:w-64  "></div>
                <div class ="w-12 h-3 mt-6 mb-6 bg-slate-200 rounded-full smallest:w-20  sm:w-32 md:w-48  lg:w-64  "></div>
                <div class ="w-12 h-3 mt-6 mb-6 bg-slate-200 rounded-full smallest:w-20 sm:w-32  md:w-48  lg:w-64  "></div>
                <div class ="w-12 h-3 mt-6 mb-6 bg-slate-200 rounded-full smallest:w-20 sm:w-32 md:w-48  lg:w-64 "></div>
            </div>
        }
    </div>
}
@else {
    <div class="flex justify-center w-full gap-5">
        @for (category of categoriesWithMostProducts; track $index) {
            <div class="h-20 w-20 mb-6 smallest:w-28 smallest:h-24 sm:w-40 sm:h-36 md:w-56 md:h-44 lg:w-80 lg:h-72 ">
                <app-basic-imagen src="https://th.bing.com/th/id/OIP.cq2F1ltSo2frtm9UZqhVawHaDt?rs=1&pid=ImgDetMain" [figcaption]="category.name" [alt]="category.name"></app-basic-imagen>
            </div>
        }
    </div>
}
